<section class="main-header">
  <section class="header-content container">
    <img src="../../../assets//images/bitcoin.png" alt="" />
    <ul class="clean-list flex nav-bar">
      <a routerLink="home">
        <img src="../../../assets/images/home.png" title="Home" />
      </a>
      <a routerLink="contacts">
        <img src="../../../assets/images/users.png" title="Contacts" />
      </a>
      <img src="../../../assets/images/increase.png" title="Rates" />
    </ul>
  </section>
</section>
