/* You can add global styles to this file, and also import other style files */
.container {
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding: 20px;


        // @include for-mobile-layout {
        //     max-width: initial;
        // }

        // @include for-tablet-layout {
        //     max-width: $mobile-breakpoint;
        // }

        // @include for-normal-layout {
        //     max-width: $tablet-breakpoint;
        // }

        // @include for-wide-layout {
        //     max-width: $normal-breakpoint;
        // }
}

.app-height {
    min-height: 81vh;
}

// GRIDS
.simple-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5
    {
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
    padding: 0;
}


.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &>li {
        margin: 0;
        padding: 0;
    }
}

$clr1: #fff022;
$clr2: #293241;
$clr3: #5c3fc5;
$clr4: #696969;
$clr5: #e6e9ec;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;

/* Breakpoint mixins - Mobile First */
// @mixin for-narrow-layout {
//     @media (min-width: $mobile-breakpoint) {
//         @content;
//     }
// }

// @mixin for-normal-layout {
//     @media (min-width: $narrow-breakpoint) {
//         @content;
//     }
// }

// @mixin for-wide-layout {
//     @media (min-width: $normal-breakpoint) {
//         @content;
//     }
// }

/* Desktop First */
@mixin for-mobile-layout {
    @media (max-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin for-tablet-layout {
    @media (max-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (max-width: $normal-breakpoint) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (max-width: $wide-breakpoint) {
        @content;
    }
}



/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
        pointer-events: none;
    }

    &>img,
    &>iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }

    >img {
        object-fit: cover;
    }
}

// Mixin for removing hover effects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

@mixin quotes {
    &::before {
        content: open-quote;
    }
    &::after {
        content: close-quote;
    }
}